/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Roboto', sans-serif;
     color: black;
     user-select: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#outerShape {
     width: 400px;
     height: 450px;
     background: black;
     border-radius: 5%;
     display: flex;
}

#innerShape {  
     display: flex;
     width: 400px;
     padding: 40px;
     flex-flow: column nowrap;
}

#display {
     height: 70px;
     background: white;
     margin-bottom: 20px;
     text-align: right;     
     font-size: 36px;
     line-height: 70px;
     padding-right: 10px;
     overflow: hidden;  /* need to fix this. It flows to the right currently*/
     user-select: text;
}

#pad {
     display: flex;
     flex-flow: column nowrap;
     flex: 5;
     justify-content: space-around;
     
}

.row {
     display: flex;
     flex: 1;
     justify-content: space-around;
     align-content: center;
     align-items: center;
}

.num {
     background: white;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     font-size: 32px;
     font-weight: bold;
     align-items: center;
     text-align: center;
     line-height: 60px;
}

.num:hover {
     /* color: blue; */
     background: orange;
     cursor: default;
}